<section class="about">
    <div class="about__container">
        <div class="about__text-wrapper">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, cumque!</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, nam a est quae minima quas illum ullam doloremque quis mollitia eum laboriosam, itaque atque accusamus totam, eveniet ipsa consectetur aspernatur.</p>
        </div>
        <div class="about__more">
            <p><span>78</span><span class="underline">Organisations</span></p>
            <p><span>2,765</span><span class="underline">Testers</span></p>
            <p><span>12</span><span class="underline">Countries</span></p>
        </div>
    </div>
</section>