<section class="contact">
    <div class="contact__form container">
        <form action="#" class="form">
            <div class="u-margin-bottom-medium">
                <h2 class="heading-secondary heading-secondary--blue u-center-text u-margin-top-big">
                    Get in touch
                </h2>
                <p class="paragraph u-center-text u-margin-top-big">
                    If you have questions about purchasing ISV Online, you're in the right place
                </p>
            </div>
            <div class="form__group">
                <input type="text" class="form__input" id="firstName" placeholder="First Name" required>
                <label for="firstName" class="form__label">First Name</label>
            </div>
            <div class="form__group">
                <input type="text" class="form__input" id="lastName" placeholder="Last Name" required>
                <label for="lastName" class="form__label">Last Name</label>
            </div>
            <div class="form__group">
                <input type="text" class="form__input" id="company" placeholder="Company" required>
                <label for="company" class="form__label">Company</label>
            </div>

            <div class="form__group">
                <input type="email" class="form__input" id="email" placeholder="Email" required>
                <label for="email" class="form__label">Email</label>
            </div>
            <div class="form__group">
                <input type="tel" class="form__input" id="phone" placeholder="Telephone" required>
                <label for="phone" class="form__label">Telephone</label>
            </div>
            <div class="form__group">
                <label for="text" class="form__label form__label--message">Your message</label>
                <textarea class="form__textarea" id="text" placeholder="Your message" rows="4" cols="50" required>
                </textarea>
            </div>

            <div class="form__group">
                <input type="text" class="form__input" id="robot" placeholder="Prove you’re human. What’s 8+10 ?" required>
                <label for="robot" class="form__label">Prove you’re human. What’s 8+10 ?</label>
            </div>
            <div class="form__button">
                <button class="btn btn--purple">Send</button>
            </div>
        </form>
        <p class="paragraph u-center-text u-margin-top-big">
            We hate spam as much as you do! View our <span class="paragraph paragraph--purple bold">Privacy Policy.</span>
        </p>
    </div>
    <div class="form__map u-margin-top-big">
 
    </div>
</section>