<header class="header">
    <nav class="nav">
        <div class="nav__upper">
            <div class="container">
                <ul>
                    <li>Twitter</li>
                    <li>LinkedIn</li>
                </ul>
            </div>
        </div>
        <div class="nav__bottom">
            <div class="container">
                <div class="nav__logo">
                    <a href="./index.html"><img src="../../img/logo.png" alt="company logo"></a>
                </div>
                <ul class="nav__mainmenu">
                    <li class="nav__anchor"><a href='#'>Skill Testing</a></li>
                    <li class="nav__anchor"><a href='#'>Training</a></li>
                    <li class="nav__anchor"><a href='#'>Create your own</a></li>
                    <li class="nav__anchor"><a href='#'>About Us</a></li>
                    <li class="nav__anchor"><a href='#'>News</a></li>
                </ul>
                <a class="btn btn-primary" href='./index2.html'>
                    Contact Us
                </a>
            </div>
        </div>
    </nav>
</header>