<div class="worker">
    <div class="worker__box">
                  <h1>
                    DeadEnd Development
                </h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                <div class="worker__form-box">
                    <form action="#" class="worker__form">
                        <input type="text" placeholder="Enter your email" class="worker__text-input">
                        <input type="submit" class="worker__submit" value="Request a demo">
                    </form>
                </div>
    </div>
</div>
