<section class="news">
    <h2 class="news__heading">News &amp; Highlights</h2>
    <div class="news-boxes">
        <div class='box'>
            <div class='box__img'>
                <a href="https://placeholder.com">
                    <img src="http://via.placeholder.com/350x206">
                </a>
            </div>
            <h2 class='box__header'></h2>
            <p class='box__text'></p>
            <div class="box__sign">
                <span class="author"></span>
                <span class="date"></span>
            </div>
        </div>
        <div class='box'>
            <div class='box__img'>
                <a href="https://placeholder.com">
                    <img src="http://via.placeholder.com/350x206">
                </a>
            </div>
            <h2 class='box__header'></h2>
            <p class='box__text'></p>
            <div class="box__sign">
                <span class="author"></span>
                <span class="date"></span>
            </div>
        </div>

        <div class='box'>
            <div class='box__img'>
                <a href="https://placeholder.com">
                    <img src="http://via.placeholder.com/350x206">
                </a>
            </div>
            <h2 class='box__header'></h2>
            <p class='box__text'></p>
            <div class="box__sign">
                <span class="author"></span>
                <span class="date"></span>
            </div>
        </div>
    </div>
</section>